# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# custom

/Sumo_Robot/Debug/
/Sumo_Robot/Generated_Code/
/Sumo_Robot/.settings/
/Sumo_Robot/Documentation/
/Sumo_Robot/*.g_c
/Sumo_Robot/*.g_x
/Sumo_Robot/ProjectInfo.xml
/Sumo_Robot/.cwGeneratedFileSetLog

/Sumo_Remote/Debug/
/Sumo_Remote/Generated_Code/
/Sumo_Remote/.settings/
/Sumo_Remote/Documentation/
/Sumo_Remote/*.g_c
/Sumo_Remote/*.g_x
/Sumo_Remote/ProjectInfo.xml
/Sumo_Remote/.cwGeneratedFileSetLog


/TEAM_Remote/Debug/
/TEAM_Remote/Generated_Code/
/TEAM_Remote/.settings/
/TEAM_Remote/Documentation/
/TEAM_Remote/*.g_c
/TEAM_Remote/*.g_x
/TEAM_Remote/ProjectInfo.xml
/TEAM_Remote/.cwGeneratedFileSetLog

/TEAM_Robot/Debug/
/TEAM_Robot/Generated_Code/
/TEAM_Robot/.settings/
/TEAM_Robot/Documentation/
/TEAM_Robot/*.g_c
/TEAM_Robot/*.g_x
/TEAM_Robot/ProjectInfo.xml
/TEAM_Robot/.cwGeneratedFileSetLog